<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1>LOGIN</h1>
        <form #loginform="ngForm" (ngSubmit)="onSubmitLogUser(loginform)">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email"id="email" [(ngModel)]="email" class="form-control">
          
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password"id="password" [(ngModel)]="password" class="form-control">
          
          </div>
          <input type="submit" value="ENVIAR" class="btn btn-primary btn-block btn-lg">
          
        </form>
        
      </div>
      
    </div>
  </div>
</div>
<div class="col-md-6 mx-auto mt-1">
  <p>¿No tienes cuenta?</p>
   
    <a class="btn btn-secondary btn-block" href="/registro">Registrate</a>
</div>
