<div class="container">
  <div class="row">
    <div class="col-md-5">
      <app-registro></app-registro>
    </div>
    <div class="col-md-5 text -center">
        <app-client-list></app-client-list>

    </div>
  </div>
</div>