<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img width="50" alt="Angular Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Logo_Grupo_BIMBO.svg/1280px-Logo_Grupo_BIMBO.svg.png">
    <a class="navbar-brand" href="/pacientes">RUTAS BIMBO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item" *ngIf="isLogin">
          <a class="nav-link" href="/doctores">Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/emergencias">Rutas </a>
        </li>

      </ul>
      <div class="form-inline my-2 my-lg-0">
          <li class="nav-item" >
              <a class="nav-link" href="/login" (click)="onClickLogOut()">LogIn</a>
            </li>
         
            <li class="nav-item" *ngIf="isLogin">
                <a class="nav-link" href="#" (click)="onClickLogOut()">LogOut</a>
              </li>
            </div>
    </div>
  </nav>