<div class="card">
        <div class="card-body">
            <h6 class="text-center">REGISTROS</h6>
            <table mdbTable hover="true">
                 <thead>
                   <tr>
                     <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                   </tr>
                 </thead>
                 
                    <tr *ngFor= "let Doctores of doctoresList"  >
            
                   <td >{{Doctores.nombre}}</td>
                   <td>{{Doctores.apellido}}</td>
                   <td>{{Doctores.telefono}}</td>
                   <td>{{Doctores.colonia}}</td>
                   <td>{{Doctores.tienda}}</td>
                   <td>{{Doctores.municipio}}</td>
                   <td>{{Doctores.estado}}</td>
                  
                       
                     
                        
        
                    </tr>
                </tbody>
        
            </table>
            
        </div>
        
        </div>
       