
<div class="card mt-5">
  <div class="card-body">
     <h1>Registra al Operador</h1>
     <form #doctoresform="ngForm" (ngSubmit)="onSubmit(doctoresform)">
      <input type="hidden" name= "$key" #$key="ngModel" [(ngModel)]="doctoresService.selectedDoctores.$key">
        <div class="form-group">
        <input type="text"
         class="form-control"
         name="nombre"
          #nombre="ngModel"
          
          [(ngModel)]="doctoresService.selectedDoctores.nombre"
          placeholder="Nombre">
          
          
         
   </div>
   
   <div class="form-group">
   <input type="text"
   class="form-control"
   name="apellido"
   #apellido="ngModel"
   [(ngModel)]="doctoresService.selectedDoctores.apellido"
   placeholder="Apellido">
   </div>

   <div class="form-group">
   <input type="number"
   class="form-control"
   name="telefono"
   #fecha="ngModel"
   [(ngModel)]="doctoresService.selectedDoctores.telefono"
   placeholder="telefono">
   </div>
   <div class="form-group">
      <input type="number"
      class="form-control"
      name="edad"
      #edad="ngModel"
      [(ngModel)]="doctoresService.selectedDoctores.edad"
      placeholder="Edad">
      </div>
      
      <h1>Registra su Ruta</h1>  
      
        <div class="form-group">
        <input type="text"
         class="form-control"
         name="colonia"
          #colonia="ngModel"
          
          [(ngModel)]="doctoresService.selectedDoctores.colonia"
          placeholder="colonia">
         </div>
         
        <div class="form-group">
        <input type="text"
         class="form-control"
         name="tienda"
          #tienda="ngModel"
          
          [(ngModel)]="doctoresService.selectedDoctores.tienda"
          placeholder="Tienda">
         </div>

        <div class="form-group">
        <input type="text"
         class="form-control"
         name="municipio"
          #municipio="ngModel"
          
          [(ngModel)]="doctoresService.selectedDoctores.municipio"
          placeholder="municipio">
         </div>
          
        <div class="form-group">
        <input type="text"
         class="form-control"
         name="estado"
          #estado="ngModel"
          
          [(ngModel)]="doctoresService.selectedDoctores.estado"
          placeholder="estado">
         </div>
          
          
             
   
   <div class="form-group">
      <button class="btn btn-primary" type="submit">
         <i class="fas fa-plus-circle"></i> Enviar
      </button>
      <button class="btn btn-secondary" type="reset" (click)="resetForm(doctoresform)">
      <i class="fas fa-sync-alt"></i> Reset
     </button>
   </div>
   
   
   </form>
   
   </div>
   
   </div>
   <app-doctorlist></app-doctorlist>
 